/*introduction panel*/
.panel{
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    background-color:var(--color-primary-dark-blue-intro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0rem 0rem 10rem 0rem;
}
.panel img{
    max-width: 700px;
    padding: 1rem;
}
.panel h1{
    max-width: 50%;
    font-size: 40px;
}
.panel p{
    max-width: 40%;
    padding: 4rem 0rem;
}
.panel button{
    background: linear-gradient(90deg, var(--color-accent-cyan), var(--color-accent-blue));
    padding: 1rem 5rem;
    border-radius: 50px;
}

/*panel-services*/
.services-container,
.panel-productivity {
    background-color: var(--color-primary-dark-blue-main);
}
.services-container {
    background-color: var(--color-primary-dark-blue-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 60%;
    grid-gap: 4rem;
}
.items-icons {
    text-align: center;
    grid-gap: 6rem;
    font-size: 13px
}
.items-icons img,
h4,
p {
    padding: 0.5rem
}

/**/
.productivity {
    display: flex;
    justify-content: center;
    padding: 6rem;
}

.information-productivity {
    padding: 2rem;
    align-self: center;
}
.information-productivity h2 {
    font-size: 40px;
    max-width: 400px;
    padding: 0.5rem;
}
.information-productivity p {
    font-size: 15px;
    max-width: 500px;
}
.btn{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    position: relative;
    left: 10px;
    padding: 0rem 0rem 0.3rem 0rem;
}
.btn a {
    color: var(--color-accent-cyan);
}
.btn:hover{
    filter: invert(50%)  brightness(1000%);
    border-bottom: 1px solid #fff;
} 

/*testimonials*/
.testimonials {
    display: flex;
    padding: 5rem;
}
.comments {
    background-color: var(--color-primary-dark-blue-testimonials);
    margin: 0rem 1rem;
    padding: 2rem 1.5rem;
    max-width: 330px;
    font-size: 13px;
    z-index: 1;
}
.quotes-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.quotes {
    position: absolute;
    top: 45px;
    left: 10vw;
}
.user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.user {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 8px;
    left: 8px;
}
.user span {
    line-height: 15px;
}
.user span:first-line {
    font-weight: 700;
    font-size: 11px;
}

/*registration form*/
.register{
    background-color: var(--color-primary-dark-blue-main);
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
}
.form-register{
    background-color: var(--color-primary-dark-blue-intro);
    width: 800px;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h3{
    font-size: 30px;
    padding: 1rem;
}
.form-register p {
    font-size: 15px;
    max-width: 90%;
}
.email-input{
    padding: 2em;
    display: flex;
    max-width: 100%;
}
.email-input input{
    padding: 0rem 15rem 0rem 2rem;
    max-height: 50px;
    border-radius: 50px;
}
.email-input button{
    background: linear-gradient(90deg, var(--color-accent-cyan), var(--color-accent-blue));
    padding: 1rem 2rem;
    border-radius: 50px;
    max-height: 50px;
    margin-left: 30px;
    font-size: 0.9rem;
}
button:hover{
    text-shadow: 0px 0px 3px var(--color-neutral-white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    transition: 0.3s;
}





